.devises {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $screen-md) {
    gap: 24px;
  }

  .section_title {
    text-transform: uppercase;
    color: $text-color--gray;
    padding: 16px;
    background: linear-gradient(90deg, #f8f8f8 1.39%, #fff 100%);
    border-top: 1px solid $color-line--blue;

    @media (min-width: $screen-md) and (max-width: $screen-lg) {
      padding-left: 24px;
      margin: 0 -24px;
    }

    @media (min-width: $screen-lg) {
      padding-left: 32px;
      margin: 0 -32px;
    }
  }

  &__text {
    align-self: flex-start;
  }

  &__swiper {
    overflow: hidden;

    &::after {
      @include gradientAfter;
      margin-top: -190px;
      height: 158px;

      @media (min-width: $screen-md) {
        display: none;
      }
    }
  }

  .swiper-wrapper {
    height: 160px;
    transition: 0.3s;

    @media (min-width: $screen-md) {
      flex-wrap: wrap;
      gap: 24px;
    }

    @media (min-width: $screen-mega-lg) {
      gap: 32px;
    }
  }

  .swiper-slide {
    width: 220px;
    height: 160px;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 6px;

    @media (min-width: $screen-md) {
      min-width: 200px;
      flex-grow: 1;
    }

    &__link {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
    }
  }

  .swiper-slide_image-button {
    align-self: flex-end;
    @include imgButton;
  }

  .hidden {
    @media (min-width: $screen-md) {
      height: 344px;
    }
    @media (min-width: 1017px) {
      height: 160px;
    }
  }
}
