.footer {
  margin-top: auto;
  bottom: 140px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
  @include fontMediumFooter;
  opacity: 0.72;
  border-top: 1px solid $color-line--blue;

  @media (min-width: $screen-md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 32px;

    &__text {
      flex: 1;
    }

    &__text:first-child {
      text-align: left;
    }

    &__text:last-child {
      text-align: right;
    }
  }

  @media (min-width: $screen-mega-lg) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 1120px;
    padding: 32px;

    &__text {
      flex: 1;
    }

    &__text:first-child {
      text-align: left;
    }

    &__text:last-child {
      text-align: right;
    }
  }
}
