* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  text-decoration: inherit;
  background-color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

.lock {
  overflow: hidden;
  margin-right: 17px;
}

.visualitty-hidden {
  display: none;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff3e79;
}

body {
  font-family: 'TT Lakes';
}

.body-wrapper {
  color: $text-color--black;
  margin: 0 auto;
  transition: 0.2s;

  @media (min-width: $screen-lg) {
    width: $screen-lg;
  }

  @media (min-width: $screen-mega-lg) {
    width: $screen-mega-lg;
  }
  .wrapper {
    min-width: $screen-sm;
    background-color: $color-bg--gray;
    margin: 0 auto;
    padding-right: 0;
    @include fontMedium;

    @media (min-width: $screen-md) and (max-width: $screen-lg) {
      min-width: $screen-md;
    }

    @media (min-width: $screen-lg) {
      width: $screen-lg;
    }

    @media (min-width: $screen-mega-lg) {
      transform: translateX(160px);
    }
  }

  .header {
    display: flex;
    width: 100%;
    height: 88px;

    @media (min-width: $screen-mega-lg) {
      display: none;
    }
  }

  .upper-menu {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
    padding: 14px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid $color-line--blue;
    transition: 0.2s;

    @media (min-width: $screen-md) and (max-width: $screen-lg) {
      padding: 24px;
    }

    @media (min-width: $screen-lg) and (max-width: $screen-mega-lg) {
      padding: 24px;
    }

    &__item-burger {
      display: flex;

      @media (min-width: $screen-md) and (max-width: $screen-mega-lg) {
        &::after {
          content: '';
          position: absolute;
          align-self: center;
          left: 85px;
          width: 2px;
          height: 32px;
          background: #eaeaea;
          border-radius: 12px;
        }
      }
    }

    &__link-burger {
      background: #ff3e79 url('../img/burger.svg') no-repeat 50% 50%;
    }

    &__item--shift-left {
      flex-grow: 1;

      @media (min-width: $screen-md) and (max-width: $screen-mega-lg) {
        flex-grow: 1;
        margin-left: 25px;
      }
    }

    &__item-settings--shift-right {
      @media (min-width: $screen-md) and (max-width: $screen-mega-lg) {
        margin-left: 25px;
      }
    }

    &__link {
      display: block;
      width: fit-content;
    }

    &__link-phone {
      background: #ff3e79 url('../img/phone.svg') no-repeat 50% 50%;
    }

    &__link-message {
      background: #ff3e79 url('../img/message.svg') no-repeat 50% 50%;
    }

    &__link-contact {
      background: #ff3e79 url('../img/contact.svg') no-repeat 50% 50%;
    }

    &__link-settings {
      background: #ff3e79 url('../img/settings.svg') no-repeat 50% 50%;
    }

    &__link-search {
      background: #ff3e79 url('../img/search.svg') no-repeat 50% 50%;
    }

    &__item-settings {
      display: flex;

      &::before {
        content: '';
        position: absolute;
        align-self: center;
        right: 130px;
        width: 2px;
        height: 32px;
        background: #eaeaea;
        border-radius: 12px;

        @media (min-width: $screen-md) and (max-width: $screen-mega-lg) {
          right: 140px;
        }
      }
    }

    &__item--hidden {
      display: none;

      @media (min-width: $screen-md) and (max-width: $screen-mega-lg) {
        display: block;
      }
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    // padding: 0 16px 55px 16px;
    padding-bottom: 55px;
    height: 100%;
    gap: 24px;

    @media (min-width: $screen-md) and (max-width: $screen-lg) {
      gap: 32px;
      padding: 0 24px 80px 24px;
    }

    @media (min-width: $screen-lg) {
      gap: 19px;
      padding: 0 32px 85px 32px;
    }

    @media (min-width: $screen-mega-lg) {
      padding-top: 25px;
    }

    .main-header {
      @media (min-width: $screen-lg) {
        display: flex;
        justify-content: space-between;
      }

      &__tilte {
        position: relative;
        @include fontBold;
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 0;
        padding: 0 16px;

        @media (min-width: $screen-md) {
          padding: 0;
        }

        @media (min-width: $screen-lg) {
          display: flex;
          justify-content: space-between;
          padding: 0;
        }

        &::before {
          content: '';
          position: absolute;
          width: 4px;
          height: 40px;
          background: #41f6d7;
          left: -16px;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;

          @media (min-width: $screen-md) and (max-width: $screen-lg) {
            left: -24px;
          }

          @media (min-width: $screen-lg) {
            left: -32px;
          }
        }
      }

      &__menu {
        display: none;

        @media (min-width: $screen-mega-lg) {
          display: flex;
          align-items: center;
          gap: 32px;
        }
      }

      &__link-settings {
        background: #ff3e79 url('../img/settings.svg') no-repeat 50% 50%;
      }

      &__link-search {
        background: #ff3e79 url('../img/search.svg') no-repeat 50% 50%;
      }

      &__link {
        @media (min-width: $screen-lg) {
          display: flex;
          align-items: center;
          gap: 8px;
          color: $text-color--black;
          font-weight: 500;
        }
      }
    }

    .navigation {
      &__list {
        display: flex;
        overflow-x: scroll;
        white-space: pre;
        margin-left: 16px;

        @media (min-width: $screen-md) {
          margin: 0 -24px 0 0;
        }

        @media (min-width: $screen-lg) {
          flex-wrap: wrap;
          overflow-x: visible;
        }

        &::after {
          @include gradientAfter height: 40px;
        }

        &::-webkit-scrollbar {
          width: 0;
          height: 0;
        }
      }

      &__item {
        padding: 8px 16px;
        color: $text-color--gray;
        cursor: pointer;

        @media (min-width: $screen-lg) {
          flex-grow: 1;
        }

        &:last-child {
          @media (min-width: $screen-lg) {
            flex-grow: 0;
          }
        }

        &:hover {
          padding: 6px 14px;
          background-color: #ffffff;
          border: 2px solid #b8ffec;
          border-radius: 6px;
        }
      }
    }
  }

  .about {
    &__content {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @media (min-width: $screen-md) and (max-width: $screen-lg) {
        flex-direction: row;
        gap: 48px;
      }

      @media (min-width: $screen-lg) {
        flex-direction: row;
        gap: 36px;
      }
    }

    &__full-text {
      display: flex;
      flex-direction: column;
      gap: 8px;

      @media (min-width: $screen-md) and (max-width: $screen-lg) {
        width: 52%;
        gap: 16px;
      }

      @media (min-width: $screen-lg) {
        width: 490px;
        gap: 16px;
      }
    }

    &__text {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      padding: 0 16px;

      @media (min-width: $screen-md) and (max-width: $screen-lg) {
        padding: 0;
        line-height: 20px;
      }

      @media (min-width: $screen-lg) {
        padding: 0;
        line-height: 20px;
      }

      &--hidden {
        overflow: hidden;
        height: auto;
        max-height: 0;
        transition: 0.3s;

        @media (min-width: $screen-md) and (max-width: $screen-mega-lg) {
          display: block;
          height: auto;
          max-height: 36px;
          margin-top: 4px;
          transition: 0.3s;
        }

        @media (min-width: $screen-mega-lg) {
          display: block;
          height: auto;
          max-height: 200px;
          margin-top: 4px;
          transition: 0.3s;
        }

        &.openText {
          overflow: visible;
          max-height: 200px;

          @media (min-width: $screen-md) and (max-width: $screen-mega-lg) {
            max-height: 200px;
          }
        }
      }
    }

    &__button {
      display: flex;
      align-items: center;
      align-self: flex-start;
      letter-spacing: -0.2px;
      @include fontMedium;
      padding: 0 16px;

      @media (min-width: $screen-md) {
        padding: 0;
      }

      @media (min-width: $screen-lg) {
        line-height: 24px;
      }

      &.buttonText--open {
        @media (max-width: $screen-md) {
          padding-top: 8px;
        }
      }

      &::before {
        content: '';
        position: relative;
        background: url('../img/arrow.svg') no-repeat 50% 50%;
        width: 24px;
        height: 24px;
        right: 3px;
      }
    }

    .buttonText--open::before {
      transform: rotate(180deg);
    }

    &__button-image {
      background: url('../img/arrow.svg') no-repeat 100% 100%;
      padding: 6px;
    }

    &__image {
      @media (min-width: $screen-md) and (max-width: $screen-lg) {
        flex-grow: 1;
        align-self: flex-start;
        width: 48%;
        height: auto;
        border-radius: 6px;
      }

      @media (min-width: $screen-lg) {
        width: 532px;
        height: auto;
        border-radius: 6px;
      }
    }
  }

  .swiper-pagination {
    position: relative;
    z-index: 80;
    margin-bottom: -12px;

    @media (min-width: $screen-md) and (max-width: 1015px) {
      display: none;
    }

    @media (min-width: 1015px) and (max-width: $screen-lg) {
      display: none;
    }

    @media (min-width: $screen-lg) {
      display: none;
    }

    .swiper-pagination-bullet {
      height: 12px;
      width: 12px;
    }

    .swiper-pagination-bullet-active {
      background-color: #b5b6bc;
    }
  }

  .main-section .swiper-pagination {
    bottom: 5px;
  }

  .devises__swiper .swiper-pagination {
    margin-bottom: 5px;
    top: 10px;
  }

  .prices__swiper .swiper-pagination {
    margin-bottom: 5px;
    top: 10px;
  }
}

.brand-swiper__button {
  display: block;
  position: absolute;
  color: #1b1c21;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  padding-left: 30px;
  z-index: 10;
  display: none;

  @media (min-width: $screen-md) and (max-width: 1015px) {
    display: block;
    margin-top: 24px;
  }

  @media (min-width: 1015px) and (max-width: $screen-lg) {
    display: block;
    margin-top: 24px;
  }

  @media (min-width: $screen-lg) {
    display: block;

    margin-top: 24px;
  }

  &::before {
    content: '';
    position: absolute;
    background: url('../img/arrow.svg') no-repeat 50% 50%;
    width: 24px;
    height: 24px;
    left: 0;
  }

  &.button--open::before {
    transform: rotate(180deg);

    @media (min-width: $screen-md) and (max-width: 1015px) {
      transform: rotate(180deg);
    }
  }
}

.mySwiper {
  margin-left: 16px;

  @media (min-width: $screen-md) {
    margin-left: 0;
  }
}

.swiper-slide:hover {
  box-shadow: inset 0 0 1px 0.5px #ff3e79;
  transition: 0.2s;
  opacity: 0.8;
}

.prices .swiper-slide:hover {
  box-shadow: none;
}

@include iconOpacity;
