$color-bg--gray: #F8F8F8;
$color-bg--white: #FFFFFF;
$text-color--gray: #7E7E82;
$text-color--black: #1B1C21;

$iconColor: #FF3E79;

$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 1120px;
$screen-mega-lg: 1440px;
